<div class="product-list">
    <h2>Lista de Produtos</h2>
  
    <table class="mat-table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Ativo</th>
          <th>Fabricação</th>
          <th>Vencimento</th>
          <th>Fornecedor</th>
          <th>CNPJ</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.name }}</td>
          <td>{{ product.active ? 'Ativo': 'Inativo'}}</td>
          <td>{{ product.manufacturing | date:'yyyy-MM-dd' }}</td>
          <td>{{ product.expiration | date:'yyyy-MM-dd' }}</td>
          <td>{{ product.supplierCode }} - {{ product.supplierDescription }}</td>
          <td>{{ product.cnpj }}</td>
          <td>
            <button mat-icon-button (click)="deleteProduct(product)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button [routerLink]="['/products', product.id, 'edit']">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <button mat-raised-button [routerLink]="['/products/add']">Adicionar Produto</button>
  </div>
  