<div class="product-list">
    <h2>Lista de Produtos</h2>

    <div class="products">
      <mat-card *ngFor="let product of products">
        <div class="status-indicator" [ngClass]="{'true': product.active, 'false': !product.active }" [matTooltip]="'Situação: ' + (product.active? 'Ativo':'Inativo') "></div>
        <mat-card-title>{{ product.name }}</mat-card-title>
        
        <mat-card-content>
          Feito em: {{ product.manufacturing | date:'dd/MM/yyyy' }}
          <br>
          Expira em: {{ product.expiration | date: 'dd/MM/yyyy' }}
          <hr>
          <mat-card-subtitle>Fornecedor: </mat-card-subtitle>
          <b>{{ product.supplierDescription }}</b><br>
           Código: {{ product.supplierCode }} <br>
           Cnpj: {{ product.cnpj }}
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button (click)="deleteProduct(product)"  matTooltip="Excluir Produto">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button (click)="goTo(['/products', product.id!.toString(), 'edit'])" matTooltip="Editar Produto">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-card-actions>
        
      </mat-card>
    </div>
    <br>
  
    <button mat-raised-button (click)="goTo(['/products/add'])">Adicionar Produto</button>
  </div>
  